

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 20px;
    text-align: center;
}

.product img {
    width: 300px;
    height: 300px;
}

.product h2 {
    margin-top: 10px;
}

.product p {
    margin-bottom: 10px;
}

.product button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product button:hover {
    background-color: #555;
}

footer {
    background-color: #0a0909;
    color: #fff;
    text-align: center;
    padding: 10px;
}






/* Additional CSS styles for enhancement */
body {
    background-color: #f8f9fa;
}

.products-container {
    
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    margin-bottom: 20px;
}

.cart-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
}

.cart {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary:hover {
    background-color: #495057;
    border-color: #495057;
}
